html,
body {
  min-height: 100vh;
}

body {
  font-family: $defaultFontFamily;
  color: $defaultTextColor;
  font-size: 17px;
  line-height: 1.6;
  background: #ddd;
}

// Containers

.container {
  position: relative;
  max-width: 960px;
  margin: auto;
  padding: 0 64px;
}

// Links

a,
.link {
  cursor: pointer;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    text-decoration: underline;
  }
}

// Scaffold

.page {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

main {
  flex: 1;
}
