html,
body {
  min-height: 100vh;
}

body {
  font-family: $defaultFontFamily;
  color: $defaultTextColor;
  font-size: 17px;
  line-height: 1.6;
  background: $pageBackground;
}

// Containers

.container {
  position: relative;
  max-width: 960px;
  margin: auto;
  padding: 0 48px;
}

// Links

a,
.link {
  cursor: pointer;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    text-decoration: underline;
  }
}

.button-link-container {
  cursor: pointer;
}

.button-link {
  cursor: pointer;
  transition: color .2s, background-color .2s;
  text-align: center;
  font-size: 24px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover,
  &.active,
  .button-link-container:hover & {
    color: #fff;
    background-color: $interfaceButtonHighlight;
  }
}

// Scaffold

.page {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

main {
  flex: 1;
}
