.modal-content {
  &--edit {
    height: 100%;
  }
}

.edit {
  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }

  &__title-container {
    padding: 0 0 8px;
  }

  &__title-input {
    display: block;
    width: 100%;
    padding: 8px 16px;
  }

  &__content-container {
    height: 100%;
    flex: 1;
    padding: 0 0 8px;
  }

  &__content-input {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    font-family: $monospaceFontFamily;
    padding: 8px 16px;
    font-size: 16px;
  }

  &__button {
    width: 100%;
  }
}
