// Textfields

.textfield {
  border: 2px solid $grayBorder;
  padding: 8px 24px;
  font-size: 17px;
  line-height: 32px;
  transition: border-color .2s;

  &.error {
    border-color: #f00;
  }

  &:focus,
  &.active {
    border-color: $primaryColor;
  }
}

.textfield-label {
  font-size: 15px;
  font-weight: 600;
  padding: 0 0 4px 26px;
}

// Checkboxes

.checkbox-wrapper {
  display: flex;
  cursor: pointer;

  &:hover {
    .checkbox {
      color: $primaryColor;
      border-color: $primaryColor;
    }

    &__checkbox {
      color: $primaryColor;
    }
  }
}

.checkbox {
  width: 22px;
  height: 22px;
  align-self: center;
  line-height: 16px;
  border: 2px solid $grayBorder;
  background: #fff;
  transition: color .2s;
  color: $grayBorder;
  margin: 0 12px 0 0;
  transition: border-color .2s, color .2s;
}

.checkbox-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
  display: none;
  color: $defaultTextColor;

  .active & {
    display: block;
  }
}

// Buttons

.button {
  cursor: pointer;
  display: block;
  border: 0;
  background: $brandColor;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 21px;
  white-space: nowrap;
  color: #fff;
  padding: 0 32px;
  transition: background-color .2s;

  &[disabled] {
    cursor: default !important;
    color: #ccc !important;
    background: #eee !important;
    box-shadow: none !important;
  }
}

.loading-bar,
.button[disabled].loading-bar {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .4) 25%, rgba(255, 255, 255, .0) 25%, rgba(255, 255, 255, .0) 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, rgba(255, 255, 255, .0) 75%, rgba(255, 255, 255, .0)) !important;
  background-size: 32px 32px !important;
  background-repeat: repeat !important;
  transition: background-position 60000s linear !important;
  background-position: 4000000px !important;
}
