$headerHeight: 52px;

.header {
  &__logged-out {
    height: 3px;
    background: #000;
  }

  &__wrapper {
    background: #000;
    color: #fff;
    font-size: 19px;
  }

  &__container {
    position: relative;
    height: 52px;
    display: flex;
  }

  &__logo {
    align-self: center;

    img {
      height: $headerHeight - 16px;
      width: auto;
    }
  }

  &__name {
    flex: 1;
    align-self: center;
    padding: 0 8px 0 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }
}

.main-nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  &__item {
    a {
      display: block;
      height: $headerHeight;
      color: #fff;

      &:hover {
        color: $primaryColor;
      }
    }
  }

  &__icon {
    text-align: center;
    width: $headerHeight;
    font-size: 29px;
    line-height: $headerHeight;
    transition: background-color .2s;
    color: #fff;

    &:hover {
      color: #fff;
      background: #222;
    }
  }
}
