$headerHeight: 56px;

.header {
  &__wrapper {
    background: #000;
    color: #fff;
    font-size: 19px;
  }

  &__container {
    position: relative;
    height: $headerHeight;
    display: flex;
  }

  &__logo {
    align-self: center;

    img {
      height: 28px;
      width: auto;
    }
  }

  &__spacer {
    flex: 1;
  }

  &__name {
    height: $headerHeight;
    line-height: $headerHeight;
    align-self: center;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    color: #fff;
    transition: background-color .2s;

    &.active,
    &:hover {
      color: #fff;
      background: $headerButtonHighlight;
      text-decoration: none;
    }
  }
}

.main-nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  &__item {
    a {
      display: block;
      height: $headerHeight;
      color: #fff;

      &:hover {
        color: $primaryColor;
      }
    }
  }

  &__icon {
    text-align: center;
    width: $headerHeight;
    font-size: 24px;
    line-height: $headerHeight;
    transition: background-color .2s;
    color: #fff;

    &:hover {
      color: #fff;
      background: $headerButtonHighlight;
    }
  }
}
