$iconSize: 56px;

.interface {
  &__wrapper {
    padding: 32px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__button-icon {
    line-height: $iconSize;
    height: $iconSize;
    width: $iconSize;
  }
}

.filters {
  &__wrapper {
    width: 25%;
  }

  &__container {
    display: flex;
  }

  &__button {
    align-self: center;
    display: flex;
  }

  &__label {
    font-size: 19px;
    padding: 0 24px 0 0;
    align-self: center;
  }
}

.search {
  &__wrapper {
    width: 50%;
    max-width: 420px;
    margin: auto;
  }

  &__container {
    display: flex;
  }

  &__textfield {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    padding: 0 30px;
    font-size: 27px;
    background: #fff;
    border: 2px solid $grayBorder;
  }
}

.options {
  &__wrapper {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }

  &__container {
    display: flex;
    flex-direction: flex-end;
  }

  &__button {
    align-self: center;
  }
}

