.login {
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -48px;
    width: 260px;

    .button {
      width: 100%;
    }
  }

  &__error {
    color: #f00;
    text-align: center;
    line-height: 32px;
    margin: 0 0 16px;
  }

  &__container {
    margin: auto;
  }

  &__textfield {
    .textfield {
      width: 100%;
    }

    &--username {
      margin-bottom: 16px;
    }
  }

  &__checkbox-wrapper {
    margin: 16px 0;
  }
}
