.jBox-Notice {
  .jBox-container {
    border-radius: 0;
    box-shadow: none;

    .jBox-Notice-green & {
      background: #5d0;
    }
  }

  .jBox-content {
    border-radius: 0;
    padding: 16px 32px;
  }
}
