$titleHeight: 56px;

.passwords {

  &__wrapper {
    background: #fff;
    border-top: 2px solid $grayBorder;
    margin: 0 0 32px;
  }

  &__item-wrapper {
    position: relative;

    &:hover,
    &.list-item-active {
      .passwords__title-button {
        opacity: 1;
      }
    }
  }

  &__title-wrapper {
    border-bottom: 2px solid $grayBorder;
  }

  &__title-container {
    position: relative;
    display: flex;
  }

  &__title {
    cursor: pointer;
    font-size: 19px;
    height: $titleHeight;
    line-height: $titleHeight;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 16px 0 0;
    flex: 1;
  }

  &__title-button {
    transition: opacity .2s;
    opacity: 0;
  }

  &__title-button-icon {
    height: $titleHeight;
    width: $titleHeight;
    line-height: $titleHeight;
  }

  &__title-wrapper {
    &:hover,
    .list-item-active & {
      background: $grayLighter;
    }
  }

  &__title-container {
    position: relative;
    display: flex;
  }

  &__content-toggler {
    display: none;
  }

  &__content-wrapper {
    border-bottom: 2px solid $grayBorder;
  }

  &__content {
    padding: 16px 0;
    font-family: $monospaceFontFamily;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;

    a {
      color: $defaultTextColor;
      text-decoration: underline;

      &:hover {
        color: $defaultTextColor;
        text-decoration: underline;
      }
    }
  }

}
