.modal-content {
  &--passwords {
    height: 100%;
  }
}

.modal-vaulty {
  &--passwords {
    .jBox-title {
      position: relative;
      z-index: 1;
    }

    .jBox-content {
      position: relative;
      z-index: 2;
    }
  }
}

.random-passwords {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__list {
    font-family: $monospaceFontFamily;
    font-size: 16px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__options {
    background: $grayLighter;
    border-bottom: 2px solid $grayBorder;
    padding: 8px 16px;
    display: flex;
  }

  &__options-column {
    padding: 0 32px 0 0;

    &:last-child {
      padding-right: 0;
    }

    &--fill {
      flex: 1;
    }
  }

  &__probability-wrapper,
  &__length-option-wrapper {
    height: 50%;
  }

  &__probability-wrapper {
    text-align: center;
    line-height: 32px;
    font-size: 14px;

    a {
      color: #999;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__length-option-wrapper {
    display: flex;

    .rangeslider {
      align-self: center;

      &__handle {
        border: none;
        box-shadow: none;
        width: 16px;
        height: 16px;
        background: #000;
        top: -6px;

        &:after {
          display: none;
        }
      }

      &--horizontal {
        height: 6px;
        border-radius: 3px;
        box-shadow: none;
        background: #ccc;
      }

      &__fill {
        background: #000;
        box-shadow: none;
      }
    }
  }
}

.random-passwords-options {
  &__label-container {
    display: flex;
    cursor: pointer;

    &:hover {
      .random-passwords-options__checkbox-icon {
        color: $primaryColor;
      }
    }
  }

  &__checkbox-container {
    align-self: center;
  }

  &__checkbox-icon {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    transition: color .2s;
  }

  &__label {
    align-self: center;
    font-size: 16px;
    line-height: 32px;
    font-family: $monospaceFontFamily;
  }
}
