.search-filtered {
  display: none;
}

.search {
  &__wrapper {
    width: 50%;
    max-width: 420px;
    margin: auto;
  }

  &__container {
    display: flex;
  }

  &__textfield {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    padding: 0 30px;
    font-size: 25px;
    background: #fff;
    border: 2px solid $grayBorder;
    transition: border-color .2s;

    &:focus {
      border-color: $primaryColor !important;
    }

    &.active {
      border-color: #000;
    }
  }
}
