.user {
  &__headline {
    font-size: 29px;
    line-height: 1.4;
    padding: 64px 0 32px;
    margin: 0;
    text-align: center;
    font-weight: normal;
  }

  &__error {
    color: #f00;

    > div {
      margin: 0 0 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.active {
      margin: -16px 0 32px;
    }
  }

  &__wrapper {
    width: 320px;
    margin: 16px auto 64px;
  }

  &__textfield {
    .textfield {
      width: 100%;
    }

    &--username,
    &--name,
    &--email {
      margin-bottom: 16px;
    }
  }

  &__checkbox-wrapper {
    margin: 16px 0;
  }

  &__button {
    .button {
      width: 100%;
    }
  }
}
