// Text
$defaultFontFamily: 'Source Sans Pro', Helvetica, Arial, sans-serif;

// Text colors
$defaultTextColor: #222;
$brandColor: #2599CC;
$primaryColor: $brandColor;

// Colors
$pageBackground: #ddd;
$headerButtonHighlight: $brandColor;
$interfaceButtonHighlight: $brandColor;
