// Text
$defaultFontFamily: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$monospaceFontFamily: 'Source Code Pro', monospace;

// Text colors
$defaultTextColor: #222;
$brandColor: #00bbff;
$primaryColor: $brandColor;

// Colors
$grayLight: #ddd;
$grayLighter: #f2f2f2;
$grayBorder: #bbb;
$pageBackground: $grayLight;
$headerButtonHighlight: $brandColor;
$interfaceButtonHighlight: $brandColor;
